
@{
    ViewBag.Title = "Index";
}
<article>
    <p>Sample article without a section</p>
</article>

@section sectionHeader
{
<article>
    <h1>Header Section here!!</h1>
</article>
}

@section sectionParagraph
{
<article>
    <p>This paragraph is located in the section labeled "sectionParagraph"</p>
</article>
}
